[submodule "backend"]
	path = backend
	url = https://github.com/justin-prabhakaran/classroom-spring.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/justin-prabhakaran/classroom-react.git
